<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <h1> <a href="/store">Mongoose Store Index</a></h1>

    <div id="container">
            <% for(let i = 0; i < products.length; i++){ %>
            <div class="product" style="display: flex; flex-direction: column; margin-right: 10px; max-width: min-content;">
                    
                    <h3>  <%=products[i].name; %> </h3>
                   <%=products[i].description; %> 
                   <a href="/store/<%=products[i].id %>"><img style= "max-width: 225px;" src="<%=products[i].img%>"> </a> 
                    $<%=products[i].price; %> </br>
                    <% if (products[i].qty < 1 ) { %>
                        <div> OUT OF STOCK</div>
                    <%  } else { %>
                    <div id="qty"><%=products[i].qty %> left in stock</div>
                   <% } %>
                </div>
            </br>
            <% } %>
        </div>
            </br>
               <nav>
               <h2> <a href="/store/new">Add a New Product</a></h2>
            </nav>
        
</body>
</html>