<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Store</title>
</head>
<body>
    <h1>Mongoose Store Index</h1>

    <div id="container" style="display: flex; flex-direction: row;">
            <% for(let i = 0; i < products.length; i++){ %>
            <div class="product" style="display: flex; flex-direction: column; margin-right: 10px; max-width: min-content;">
                    
                        <%=products[i].name; %> 
                   <%=products[i].description; %> 
                   <a href="/store/<%=products[i].id %>"><img style= "max-width: 225px;" src="<%=products[i].img%>"> </a> 
                    $<%=products[i].price; %> </br>
                    # in stock: <%=products[i].qty; %> 
                    <% if (products[i].qty < 1 ) { %>
                        <div> OUT OF STOCK</div>
                    <%  } else { %>
                    <div id="qty"><%=products[i].qty %> left in stock</div>
                   <% } %>
                </div>
            </br>
            <% } %>
        </div>
        
               <nav>
                <a href="/store/new">Add a New Product</a>
            </nav>
    
</body>
</html>