<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <h1><%=product.name %> </h1>
      
       <div><%=product.description %></div>
    <div> <img style="max-width: 500px;" src="<%=product.img %>"> </div>
    <a href="/store/<%=product.id %>/edit">Edit</a>
      <div> $<%=product.price %></div>
      <% if (product.qty < 1 ) { %>
        <div> OUT OF STOCK</div>
    <%  } else { %>
    <div id="qty"><%=product.qty %> left in stock</div>

    <form action="/store/<%=product.id%>/buy?_method=PUT" method="POST">
        <input type="submit" value="BUY" />
    </form> 
   <% } %>
 
   <form action="/store/<%=product.id%>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE" /> 
</form> </br>  </br>
     
           <h2> <a href="/store">Back to Products Index</a></h2>
        
                      
    </body>
</html>