<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Store</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    </head>
    <body>
        <h1><%=product.name %> show page</h1>
       <div><%=product.name %> </div>
       <div><%=product.description %></div>
    <div> <img style="max-width: 500px;" src="<%=product.img %>"> </div>
      <div> $<%=product.price %></div>
      <% if (product.qty < 1 ) { %>
        <div> OUT OF STOCK</div>
    <%  } else { %>
    <div id="qty"><%=product.qty %> left in stock</div>

    <form action="/store/<%=product.id%>/buy?_method=PUT" method="POST">
        <input type="submit" value="BUY" />
    </form> </br>
   <% } %>
   <a href="/store/<%=product.id %>/edit">Edit</a>
   <form action="/store/<%=product.id%>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE" />
</form> </br>  
        <nav>
            <a href="/store">Back to Products Index</a>
        </nav>
                      
    </body>
</html>