<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1><%=product.name %> show page</h1>
       <div><%=product.name; %> </div> 
    <div> <img style="max-width: 500px;" src="<%=product.img %>"> </div>
      <div> $<%=product.price %></div>
      <% if (product.qty < 1 ) { %>
        <div> OUT OF STOCK</div>
    <%  } else { %>
    <div id="qty"><%=product.qty %> left in stock</div>
   <% } %>
   <a href="/store/<%=product.id %>/edit">Edit</a>
      

        <nav>
            <a href="/store">Back to Products Index</a>
        </nav>
    </body>
</html>