<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Budgtr App</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
    <div class="container">
        <h1><%=transaction.name%></h1>
        <button onclick="window.location.href = '../budgets/';">Go Back</button>
        <p>Date: <%=transaction.date%></p>
        <p>Name: <%=transaction.name%></p>
        <p>From: <%=transaction.from%></p>
        <p>Amount: <%=transaction.amount%></p>
        <p>Tags: <%=transaction.tags%></p>
    </div>
</body>
</html>