<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex App</title>
</head>
<body>
    <h1><%=data.name%></h1>
    <img src="<%=data.img%>"> 
   <div> <%=data.type[0]%><%if (data.type[1]){ %><%=', ' + data.type[1] %> </div>
   <%} else { %>
        </div>
  <% } %> 
  <div><%=data.misc.classification%></div>
    </br>
  <button onclick="window.location.href = '../pokedex/';">Back to Index</button>
  
  
</body>
</html>